// variables.scss

// Primary colors

$colorPinkSuperLight: rgba(255, 242, 242, 1);
$colorPinkLight: rgba(255, 226, 226, 1);
$colorPink: rgba(239, 183, 183, 1);

$colorBlueLight: rgba(199, 227, 253, 1);
$colorBlue: rgba(114, 187, 255, 1);


// Screen sizes

$small-screen-width: 550px; // Ancho maximo para la pantalla pequeña
$medium-screen-width: 950px; // Ancho maximo para la pantalla mediana
$large-screen-width: 2000px; // Ancho maximo para pantalla grande

// menu sizes

$small-side-menu: 22%;
$medium-side-menu: 40%;
$large-side-menu: 75%;

