@import '../../constants/variables.scss';

$global-padding: 5%;


.home-content {
    padding: 0 10%;
    /* padding a la izquierda y a la derecha */
    background-color: white;
}


.home-content-container {
    display: flex;
    flex-direction: column;
    /* Mantén la dirección del flex a columna */
    border-radius: 10px;
    /* Agrega bordes redondeados */
    background-color: white;
}

.discount-products {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: $colorPinkSuperLight;
    padding: 25px $global-padding;
    /* Aplicar el padding solo en los lados */
}


.discount-products-content {
    display: inline-block;
    margin: 5px;
}

.discount-product-list {
    white-space: nowrap;
    overflow-x: auto;
    padding-left: 3%;
    margin-bottom: 50px;

}

.sustainable-categories {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: "white";
    padding: 24px $global-padding;
    padding-bottom: 40px;
    /* Aplicar el padding solo en los lados */
}


.sustainable-categories-list {
    white-space: nowrap;
    overflow-x: auto;
    padding-left: 3%;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding-bottom: 50px;
}


.sustainable-categories-content {
    display: inline-block;
    margin: 5px;
}

.phrase-container {
    background-color: rgba(61, 61, 61, 1);
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    color: white;
    padding: 6%;
}

.phrase {
    padding-right: 50%;
}

.phrase-autor {
    padding-top: 2%;
    padding-left: 40%;
}

.products-content {
    background-color: $colorBlueSuperLight;
    padding: 25px $global-padding;
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinea los elementos horizontalmente */
}

.product-list {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan a la siguiente fila */
    flex-direction: row;
    gap: 20px; /* Espacio entre los elementos */
    justify-content: center; /* Centra los elementos horizontalmente */
    padding-bottom: 100px;
}


.products-content h3 {
    align-self: flex-start;
    /* Alinea el título h3 al inicio verticalmente */
}

@media screen and (max-width: 1100px) {
    .home-content {
        padding: 0 0%;
    }
}


@media screen and (min-width: $medium-screen-width) {
    .primer-elemento {
        padding-right: 15px;
    }
}

@media screen and (max-width: $medium-screen-width) {

    .discount-products,
    .sustainable-categories {
        padding: 0;
    }

    .discount-products-title,
    .sustainable-categories-title {
        padding: 10px 0 0 30px;
    }

    .phrase {
        padding-right: 50%;
    }

    .phrase-autor {
        padding-left: 35%;
    }
}

@media screen and (max-width: $small-screen-width) {

    .phrase {
        padding-right: 8%;
    }

    .phrase-autor {
        padding-left: 75%;
    }

    .product-list {
        gap: 5px; /* Espacio entre los elementos */
    }

    .products-content {
        padding: 0;
    }
    
}