@import '../../components/constants/variables.scss';

.overlay-active::after {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: $left-value-lateralMenu; /* Ancho del menú lateral */
    background-color: rgba(0, 0, 0, 0.5); /* Color de fondo negro con una opacidad del 70% */
    z-index: 998;
    /* Asegura que el overlay esté por debajo del menú lateral */
}