@import '../../constants/variables.scss';

$global-padding: 5%;


.content {
    padding: 0 10%;
    /* padding a la izquierda y a la derecha */
    background-color: rgb(246, 251, 255);
}

@media screen and (max-width: 1100px) {
    .content {
        padding: 0 0%;
    }

}


.home-content {
    display: flex;
    flex-direction: column;
    /* Mantén la dirección del flex a columna */
    border-radius: 10px;
    /* Agrega bordes redondeados */
    background-color: white;
}

.discount-products {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: $colorPinkSuperLight;
    padding: 0 $global-padding;
    /* Aplicar el padding solo en los lados */
    overflow-x: auto;
    /* Habilitar el desplazamiento horizontal si es necesario */
    -webkit-overflow-scrolling: touch;
    /* Habilitar el desplazamiento suave en dispositivos móviles */
}


@media screen and (max-width: $medium-screen-width) {
    .product-list {
        overflow-x: auto;
        /* Habilita el desplazamiento horizontal en pantallas más pequeñas */
    }

    .discount-products {
        padding: 0;
    }

    .discount-products-title {
        padding: 10px 0 0 30px;
    }
}


@media screen and (min-width: $medium-screen-width) {
    .primer-elemento {
        padding-right: 15px;
    }
}






.contenedor {
    display: inline-block;
    margin: 5px;
}


.product-list {
    white-space: nowrap;
    overflow-x: auto;
}