/* styles.css */

.content {
    padding: 0 10%; /* padding a la izquierda y a la derecha */
    background-color: rgb(246, 251, 255);
}

.home-content {
    display: flex;
    border-radius: 10px; /* Agrega bordes redondeados */
    height: 100vh; /* Establece la altura como 100% del viewport */
    background-color: whitesmoke;
}

