@import '../../constants/variables.scss';

.hidden-side-menu {
    height: 100vh;
    background-color: white;
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    transition: left 1s ease;
    overflow-y: auto;
    /* Habilitar el scroll vertical */
}


.lateral-menu {
    width: 270px;
}

.overlay-active::after {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}


.menu-subTitle {
    font-size: 17px;
    margin: 20px 0 5px 15px;
}


.menu-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(242, 242, 242);
}

.menu-title {
    margin: 0;
    flex-grow: 1;
    text-align: center;
}

.close-button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.close-button svg {
    font-size: 24px;
    color: black;
}


@media screen and (max-width: $large-screen-width) {

    .hidden-side-menu {
        width: $small-side-menu;
    }

    .overlay-active::after {
        left: $small-side-menu;
    }
}

@media screen and (max-width: $medium-screen-width) {

    .lateral-menu{
        width: 190px;
    }

    .hidden-side-menu {
        width: $medium-side-menu;
    }

    .overlay-active::after {
        left: $medium-side-menu;
    }
}

@media screen and (max-width: $small-screen-width) {

    .hidden-side-menu {
        width: $large-side-menu;
    }

    .overlay-active::after {
        left: $large-side-menu;
    }
}