@import '../../constants/variables.scss';

.lateral-menu {
    height: 100vh;
    background-color: white;
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    transition: left 1s ease;
    overflow-y: auto; /* Habilitar el scroll vertical */
}


.menu-subTitle {
    font-size: 17px;
    margin: 20px 0 5px 15px;
}


.menu-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(242, 242, 242);
}

.menu-title {
    margin: 0;
    flex-grow: 1;
    text-align: center;
}


.close-button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.close-button svg {
    font-size: 24px;
    color: black;
}

.menu-item:hover {
    background-color: #dddddd;
}


@media screen and (max-width: $large-screen-width) {
    .lateral-menu {
        width: $small-side-menu;
    }
}

@media screen and (max-width: $medium-screen-width) {
    .lateral-menu {
        width: $medium-side-menu;
    }
}

@media screen and (max-width: $small-screen-width) {
    .lateral-menu {
        width: $large-side-menu;
    }
}