body {
    margin: 0;
    padding: 0;
}

.menu {
    display: flex;
    padding: 0.2% 3%;
    align-items: center;
}

.left-item,
.middle-item,
.login {
    display: flex;
    align-items: center;
}

.middle-item {
    flex: 1;
    justify-content: center;
    list-style-type: none;
}

.middle-item li {
    margin: 0px 15px;
}

.middle-item a {
    text-decoration: none;
    color: black;
}

.middle-item div {
    margin: 0 10px;
}

.login, .cart {
    display: inline-block;
    background: none; /* Elimina el color de fondo predeterminado del boton */
    border: none; /* Elimina el borde predeterminado del boton */
}

.login span, .cart span {
    display: flex;
    align-items: center; /* Alinea verticalmente el icono */
    justify-content: center; /* Centra horizontalmente el icono */
    width: 35px; /* Tamaño del icono */
    height: 35px; /* Tamaño del icono */
    border-radius: 50%;
}

.login span {
    background-color: rgba(255, 226, 226, 1); /* Color de fondo para el icono de login */
}

.cart span {
    background-color: rgba(199, 227, 253, 1); /* Color de fondo para el icono de carrito */
}

.login span svg, .cart span svg {
    color: rgb(22, 22, 22); /* Color del icono */
    font-size: 17px; /* Tamaño del icono */
}

.login span svg{
    stroke-width: 0.5px; /* Grosor del trazo */
}

